<div class="jumbotron">
  <h1 class="display-4 text-center">Stock-market test</h1>
  <p class="lead">The company historical quotations</p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-history-request-form></app-history-request-form>
    </div>
    <div class="col-md-8">
      <app-history-prices-chart></app-history-prices-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-history-prices-list></app-history-prices-list>
    </div>
  </div>
</div>
